<p id="notice"><%= notice %></p>

<p>
  <strong>Slot:</strong>
  <%= @appointment.slot %>
</p>

<p>
  <strong>User:</strong>
  <%= @appointment.user %>
</p>

<p>
  <strong>Client:</strong>
  <%= @appointment.client %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
